.dev {
    background-color: green;
    border-color:  green;
    border-radius: 20px;
    align-items: center;
}

.hr {
    background-color: red;
    border-color: red;
    border-radius: 20px;
}

.ba {
    background-color: rgba(255, 238, 0, 0.775);
    border-radius: 20px;
    border-color: rgba(255, 238, 0, 0.775);
}

.qa {
    border-radius: 20px;
    background-color: rgba(37, 53, 228, 0.717);
    border-color: rgba(37, 53, 228, 0.717);
}